*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	/*border: 1px solid black;*/
}

body{
	min-width: 320px;
	font-family: "Oswald";
	background-color: #e7d2d2;
	color: #595454;
}

header{
	font-family: "Love Ya Like A Sister";
	height: 100px;
	width: 100%;
	text-align: center;
}

.logo, nav{
	width: 100%;
}

h1{
	margin-top: 10px;
	font-size: 30px;
	height: 30px;
}

small{
	font-size: 10px;
}

.imageHolder{
	height: 160px;
	width: 100%;
	background: url("../img/comic_img_420.jpg") no-repeat top;
	background-size: cover;
}

nav ul{
	height: 30px;
	margin: 10px 0;
}

nav li{
	display: inline-block;
	margin: 5px 0;
	font-weight: bolder;
	font-size: 13px;
}

nav a{
	float: right;
	width: 25%;
}

header: after,
header: before{
	content: "";
	display: table;
	clear: both;
}

form{
	text-align: center;
	padding: 20px 0;
	margin-bottom: 220px;
}

input{
	background-color: #e7d2d2;
	height: 20px;
	width: 130px;
	margin-right: 5px;
	border-style: none none solid none;
	border-bottom: 2px solid brown;
	outline: none;
	padding: 0 10px;
	font-family: "Love Ya Like A Sister";
	font-size: 12px;
}

button{
	font-family: "Love Ya Like A Sister";
	background-color: brown;
	color: white;
	height: 20px;
	width: 150px;
	border-radius: 4px;
  	text-align: center;
	outline: none;
	font-size: 12px;
}

main{
	padding-left: 10px;
	padding-right: 10px;
}

footer{
	text-align: center;
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: #595454;
}

.marvelWiki, .purchaseComics{
	color: brown;
	font-weight: bold;
}

.currentPage{
	border-bottom: 2px solid brown;
}

.sharesocial{
  	text-align: center;
  	margin-top: 70px;
  	margin-bottom: 10px;
}

.sharesocial a{
  font-size: 14px;
  line-height: 15px;
  padding: 4px;
  border-radius: 20%;
}

.fa-facebook-square {
  background-color: #3B5998;
  color: white;
}

.fa-twitter-square {
  background-color: #55ACEE;
  color: white;
}

.fa-google-plus-square {
  background-color: #dd4b39;
  color: white;
}

.fa-instagram {
  background-color: #125688;
  color: white;
}

.fa-pinterest-square {
  background-color: #cb2027;
  color: white;
}

.power{
	margin: 20px 0;
	font-size: 12px;
	font-weight: bold;
	font-family: "Love Ya Like A Sister";
}

.powered-logo img{
	height: 35px;
	width: 35px;
}

/* JS */
.js-no-results{
	font-family: "Love Ya Like A Sister";
	text-align: center;
	font-size: 14px;
	margin-top: 70px;
	margin-bottom: 120px;
}

.js-comic-results{
	margin-top: -60px;
}

.charInfo{
	text-align: center;
	padding: 10px 20px;
	margin: 20px 5px 20px 5px;
	border-bottom: 2px solid brown;
}

.charThumbnail,
.charData,
#charYoutube101{
	width: 100%;
}

.charThumbnail{
	padding: 10px 10px;
}

.charData{
	text-align: center;
	padding: 10px 10px;
}

.charThumbnail img{
	width: 200px;
	height: 160px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
}

iframe{
	width: 250px;
	height: 130px;
	box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .5);
	margin-bottom: 20px;
}

h3{
	font-family: "Love Ya Like A Sister";
	color: brown;
}

p{
	font-size: 12px;
}

li{
	list-style-type: none;
	font-size: 12px;
}

/*----for tablets---*/
@media only screen and (min-width: 767px){
	.imageHolder{
		height: 200px;
		width: 100%;
		background: url("../img/comic_img_768.jpg") no-repeat top;
		background-size: cover;
	}

	header{
		margin: 20px 0 40px 0;
	}

	h1{
		font-size: 40px;
		height: 40px;
	}

	small{
	font-size: 12px;
	}

	nav ul{
		height: 50px;
		margin: 15px 0;
	}

	nav li{
		font-size: 16px;
	}

	input{
		height: 30px;
		width: 200px;
		margin-right: 5px;
		font-size: 13px;
	}

	button{
		height: 30px;
		width: 200px;
		border-radius: 5px;
		font-size: 13px;
	}

	.sharesocial a{
  		font-size: 18px;
  		line-height: 18px;
  		padding: 5px;
  		border-radius: 20%;
	}

	.power{
		font-size: 16px;
	}

	.powered-logo img{
		height: 50px;
		width: 60px;
	}

	/* JS */
	.js-comic-results{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
	}

	.charThumbnail img{
		width: 300px;
		height: 220px;
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
	}

	iframe{
		width: 500px;
		height: 250px;
		box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, .5);
	}

	p, li{
		font-size: 13px;
	}


@media only screen and (min-width: 1024px){
	.imageHolder{
		height: 100vh;
		width: 100%;
		background: url("../img/comic_img_768.jpg") no-repeat center fixed;
		background-size: cover;
	}

	header{
		padding: 10px 30px;
		margin: 20px 0;
		height: 100px;
		text-align: left;
	}

	h1{
		font-size: 50px;
		height: 55px;
	}

	.powered-logo img{
		height: 60px;
		width: 70px;
	}

	.logo{
		width: 45%;
		float: left;
	}

	small{
		font-size: 14px;
	}

	nav ul{
		width: 55%;
		height: 80px;
		float: left;
		margin: 5px 0;
		text-align: right;
	}

	nav li{
		float: right;
		margin: 25px 5px;
		padding: 5px 20px;
		font-size: 20px;
	}

	nav a{
		float: none;
	}

	header: after,
	header: before{
		content: "";
		display: table;
		clear: both;
	}

	form{
		padding: 10px 0;
		margin-bottom: 450px;
	}

	input{
		height: 40px;
		width: 250px;
		font-size: 16px;
		font-weight: bolder;
	}

	button{
		height: 40px;
		border-radius: 10px;
		font-weight: bolder;
		font-size: 16px;
	}

	button:hover{
		background-color: #CF6253;
	}

	.fa:hover{
  		filter: hue-rotate(180deg);
  		opacity: 0.8;
	}

	/* JS */
	.js-comic-results{
		width: 100%;
	}

	.js-no-results{
		margin-top: 150px;
		margin-bottom: 270px;
		width: 100%;
		font-size: 20px;
	}

	.charInfo:before,
	.charInfo:after{
		content: "";
		display: table;
		clear: both;
	}

	.charInfo{
		margin: 50px 10px;
		border-bottom: none;
	}

	.charThumbnail{
		padding-top: 40px;
		padding-right: 50px;
		width: 28%;
		height: 330px;
		float: left;
		text-align: right;
		border-right: 2px solid brown;
	}

	.charData{
		text-align: center;
		padding: 30px 20px;
		width: 36%;
		float: left;
		height: 330px;
	}

	.charData ul{
		padding-top: 20px;
		padding-bottom: 20px;
	}

	#charYoutube101{
		width: 36%;
		float: left;
		height: 330px;
		padding-top: 40px;
		padding-left: 50px;
		border-left: 2px solid brown;
	}

	.charThumbnail img{
		width: 90%;
		height: 90%;
		box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, .5);
	}

	iframe{
		width: 100%;
		height: 90%;
		box-shadow: 3px 3px 2px 2px rgba(0, 0, 0, .5);
	}

	li{
		list-style-type: none;
	}

	p, li{
		font-size: 16px;
	}

	.currentPage{
		border-bottom: 3px solid brown;
	}

	.charThumbnail img:hover{
		filter: hue-rotate(250deg);
		opacity: 0.8;

	}

	.marvelWiki, .purchaseComics{
		color: brown;
		font-weight: bold;
	}
}