*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	/*border: 1px solid black;*/
}

body{
	text-align: center;
	font-family: 'Love Ya Like A Sister';
	/*background-color: FloralWhite; Linen; WhiteSmoke*/
	/*background-color: WhiteSmoke ;*/
}

.homeImage{
	width: 100%;
	height: 99vh;
    transition: .8s;
}

h1{
	height: 160px;
	line-height: 200px;
	font-size: 100px;
}

h3{
	font-weight: bold;
	font-size: 20px;
}

footer{
	margin-bottom: 30px;
}

.media{
	width:33.33%;
	float: left;
	height: 250px;
	margin: 80px 0;
}

h2{
	line-height: 250px;
}

a{
	text-decoration: none;
	color: black;
}

.border-right{
	border-right: 2px solid brown;
}

main:before,
main:after{
	content:"";
	display: table;
	clear: both;
}

.imageHolder{
  overflow: hidden;
}

img:hover{
    opacity: 0.85;
    transition: .8s;
    transform: scale(1.2);
}

.marvel-link, .youtube-link{
	color: brown;
	font-weight: bold;
}
.media:hover{
	font-size: 30px;
	transition: .5s;
}

.sharesocial{
  text-align: center;
  margin: 30px auto;
}

.sharesocial a{
  font-size: 30px;
}

.fa {
  padding: 10px;
  width: 50px;
  height: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 25%;
}

.fa-facebook-square {
  background-color: #3B5998;
  color: white;
}

.fa-twitter-square {
  background-color: #55ACEE;
  color: white;
}

.fa-google-plus-square {
  background-color: #dd4b39;
  color: white;
}

.fa-instagram {
  background-color: #125688;
  color: white;
}

.fa-pinterest-square {
  background-color: #cb2027;
  color: white;
}

.fa:hover{
  filter: hue-rotate(180deg);
  opacity: 0.8;
}