*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	/*border: 1px solid red;*/
}

header{
	width: 100%;
}

body{
	min-width: 320px;
	text-align: center;
	font-family: 'Love Ya Like A Sister';
	background-color: #e7d2d2;
	color: #595454;
}

h1{
	font-size: 20px;
}

h2{
	font-size: 15px;
}

h3{
	font-size: 10px;
}

a{
	text-decoration: none;
	color: #595454;
}

footer{
	margin-bottom: 10px;
}

.headerImage{
	width: 100%;
	height: 150px;
	background: url("../img/home_img_425.png") no-repeat center;
	background-size: cover;
}

.imageShield{
	width: 100%;
	height: 100%;
	display: none;
}

.headerText{
	width: 100%;
	height: 100%;
	padding: 10px 10px;
}

.headerText p{
	display: none;
}

.media{
	width: 70%;
	height: 70px;
	line-height: 60px;
	margin: 20px auto;
}

.comics, .movies{
	border-bottom: 3px solid brown;
}

.mediaImage{
	display: none;
}

.sharesocial{
	margin-bottom: 10px;
}

.sharesocial a{
  font-size: 14px;
  line-height: 15px;
  padding: 4px;
  border-radius: 20%;
}

.fa-facebook-square {
  background-color: #3B5998;
  color: white;
}

.fa-twitter-square {
  background-color: #55ACEE;
  color: white;
}

.fa-google-plus-square {
  background-color: #dd4b39;
  color: white;
}

.fa-instagram {
  background-color: #125688;
  color: white;
}

.fa-pinterest-square {
  background-color: #cb2027;
  color: white;
}

.power{
	margin: 20px 0;
	font-size: 12px;
	font-weight: bold;
}

.powered-logo{
	height: 35px;
	width: 35px;
}

.headerImage:after{
	content: "";
	display: table;
	clear: both;
}

/*--MEDIA QUERY FOR TABLETS (MIN 435PX)--*/
@media only screen and (min-width: 435px){
	h1{
		font-size: 50px;
	}

	h2{
		font-size: 30px;
	}

	h3{
		font-size: 18px;
	}

	main, footer{
		padding: 0 30px;
	}

	.headerImage{
		height: 200px;
		background-image: url("../img/avengers_logo_770.jpg");
		background-color: black;
	}

	.headerText{
		padding: 10px 15px;
	}

	.media{
		width: 60%;
		height: 130px;
		line-height: 120px;
		margin: 30px auto;
	}

	.sharesocial{
		margin-bottom: 30px;
	}

	.sharesocial a{
  		font-size: 18px;
  		line-height: 18px;
  		padding: 5px;
	}

	.power{
		font-size: 16px;
	}

	.powered-logo{
		height: 50px;
		width: 60px;
	}
}

/*--MEDIA QUERY FOR LAPTOPS AND BIGGER SCREENS (MIN 1024PX)--*/
@media only screen and (min-width: 1024px){
	header{
		height: 100vh;
		background-color: black;
		cursor: url('../img/hammer_cursor.png'), auto;
	}

	h1{
		font-size: 80px;
		margin-top: 50%;
	}

	h2{
		line-height: 300px;
		color: brown;
		cursor: url('../img/hammer_cursor.png'), auto;
	}

	h3{
		font-size: 20px;
	}

	footer{
		margin-bottom: 20px;
	}

	.headerImage{
		width: 60%;
		height: 100%;
		float: left;
		background-image: none;
	}

	.imageShield{
		border-radius: 50%;
		margin: 15% 0;
		height: 70%;
		width: 90%;
		display: initial;
	}

	.headerText{
		width: 30%;
		float: left;
		color: #857474;
	}

	.headerText p{
		display: initial;
		line-height: 150px;
		font-size: 20px;
		font-style: italic;
		font-weight: bolder;
		color: brown;
	}

	.media{
		width:33.30%;
		float: left;
		height: 300px;
		margin: 150px 0;
	}

	.mediaImage{
		opacity: 1;
		border-radius: 5%;
  		display: block;
  		width: 100%;
  		height: 100%;
  		transition: .5s ease;
  		backface-visibility: hidden;
	}

	.comics, .movies{
		border-bottom: none;
	}

	.comics, .movies, .tv{
		position:relative;
		width: 100%;
		height: 100%;
		padding: 0 15px;
	}

	.comicsText, .moviesText, .tvText {
		width: 100%;
  		transition: .8s ease;
  		opacity: 0;
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
	}

	.power{
		font-size: 18px;
		margin: 15px 0;
	}

	.powered-logo{
		height: 60px;
		width: 70px;
	}

	header:after{
		content: "";
		display: table;
		clear: both;
	}

	main:before,
	main:after{
		content:"";
		display: table;
		clear: both;
	}

	.imageShield:hover{
  		filter: hue-rotate(180deg);
  		opacity: 0.8;
	}

	h2:hover{
		font-size: 50px;
		transition: .2s;
	}

	.comics:hover .mediaImage,
	.movies:hover .mediaImage,
	.tv:hover .mediaImage{
  		opacity: 0.2;
  		border-radius:10%;
	}

	.comics:hover .comicsText,
	.movies:hover .moviesText,
	.tv:hover .tvText{
  		opacity: 1;
	}

	.fa:hover{
  		filter: hue-rotate(180deg);
  		opacity: 0.8;
	}
}