*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	/*border: 1px solid black;*/
}

body{
	min-width: 320px;
	font-family: "Oswald";
	background-color: #e7d2d2;
	color: #595454;
}

header{
	font-family: "Love Ya Like A Sister";
	padding: 10px 30px;
	margin: 35px 0;
	height: 100px;
}

h1{
	font-size: 50px;
}

main{
	font-size: 50px;
	color: brown;
	padding: 100px 0;
	height: 280px;
	font-family: "Love Ya Like A Sister";
	text-align: center;
}

.logo{
	width: 50%;
	float: left;
}

nav ul{
	width: 50%;
	height: 80px;
	float: left;
}

nav li{
	display: inline-block;
	float: right;
	margin: 25px 10px;
	padding: 5px;
	font-weight: bolder;
	font-size: 20px;
}

header: after,
header: before{
	content: "";
	display: table;
	clear: both;
}

.imageHolder{
	height: 100vh;
	width: 100%;
	background: url("../img/tv_img.jpg") no-repeat fixed;
	background-size: cover;
}

a{
	text-decoration: none;
	color: DimGray;
}

.currentPage{
	border-bottom: 3px solid brown;
}

footer{
	text-align: center;
	margin-top: 130px;
	margin-bottom: 20px;
}

.power{
	font-family: 'Love Ya Like A Sister';
	font-size: 16px;
	margin: 15px 0;
	font-weight: bold;
}

.powered-logo img{
	height: 60px;
	width: 70px;
}

.sharesocial{
	margin-bottom: 30px;
}

.sharesocial a{
  	font-size: 18px;
  	line-height: 18px;
  	padding: 5px;
  	border-radius: 20%;
}

.fa-facebook-square {
  background-color: #3B5998;
  color: white;
}

.fa-twitter-square {
  background-color: #55ACEE;
  color: white;
}

.fa-google-plus-square {
  background-color: #dd4b39;
  color: white;
}

.fa-instagram {
  background-color: #125688;
  color: white;
}

.fa-pinterest-square {
  background-color: #cb2027;
  color: white;
}

.fa:hover{
  filter: hue-rotate(180deg);
  opacity: 0.8;
}
