*{
	box-sizing: border-box;
	margin:0;
	padding: 0;
	/*border: 1px solid black;*/
}

body{
	min-width: 320px;
	font-family: "Oswald";
	background-color: #e7d2d2;
	color: #595454;
}

header{
	font-family: "Love Ya Like A Sister";
	height: 100px;
	width: 100%;
	text-align: center;
}

nav{
	width: 100%;
}

h1{
	margin-top: 10px;
	font-size: 30px;
	height: 30px;
}

small{
	font-size: 10px;
}

nav ul{
	height: 30px;
	margin: 10px 0;
}

nav li{
	display: inline-block;
	margin: 5px 0;
	font-weight: bolder;
	font-size: 13px;
}

nav a{
	float: right;
	width: 25%;
}

main{
	padding-left: 10px;
	padding-right: 10px;
}

footer{
	text-align: center;
	margin-bottom: 10px;
}

a{
	text-decoration: none;
	color: #595454;
}

h2{
	font-family: 'Love Ya Like A Sister';
	margin-top: 30px;
	color: brown;
	font-size: 20px;
	text-align: center;
}

.topImage{
	height: 160px;
	width: 100%;
	background: url("../img/home_tv.jpg") no-repeat center;
	background-size: cover;
	background-color: black;
}

.tvImage, .tvText{
	display: none;
}

.logo{
	width: 100%;
}

.currentPage{
	border-bottom: 2px solid brown;
}

.sharesocial{
  	text-align: center;
  	margin-top: 70px;
  	margin-bottom: 10px;
}

.sharesocial a{
  font-size: 14px;
  line-height: 15px;
  padding: 4px;
  border-radius: 20%;
}

.fa-facebook-square {
  background-color: #3B5998;
  color: white;
}

.fa-twitter-square {
  background-color: #55ACEE;
  color: white;
}

.fa-google-plus-square {
  background-color: #dd4b39;
  color: white;
}

.fa-instagram {
  background-color: #125688;
  color: white;
}

.fa-pinterest-square {
  background-color: #cb2027;
  color: white;
}

.power{
	margin: 20px 0;
	font-size: 12px;
	font-weight: bold;
	font-family: "Love Ya Like A Sister";
}

.powered-logo{
	height: 35px;
	width: 35px;
}

header: after,
header: before{
	content: "";
	display: table;
	clear: both;
}

/*----FOR TABLETS----*/
@media only screen and (min-width: 600px){
	header{
		margin: 20px 0 40px 0;
	}

	h1{
		font-size: 40px;
		height: 40px;
	}

	h2{
		font-size: 30px;
	}

	small{
	font-size: 12px;
	}

	nav ul{
		height: 50px;
		margin: 15px 0;
	}

	nav li{
		font-size: 16px;
	}

	.imageHolder{
		height: 100%;
		width: 70%;
		margin: 0 auto;
	}

	.topImage{
		height: 250px;

	}

	.sharesocial a{
  		font-size: 18px;
  		line-height: 18px;
  		padding: 5px;
	}

	.power{
		font-size: 16px;
	}

	.powered-logo{
		height: 50px;
		width: 60px;
	}

/*----FOR LAPTOPS----*/
@media only screen and (min-width: 1024px){
	header{
		padding: 10px 30px;
		margin: 20px 0;
		text-align: left;
	}

	h1{
		font-size: 50px;
		height: 55px;
	}

	h2{
		font-size: 50px;
	}

	small{
		font-size: 14px;
	}

	nav ul{
		width: 50%;
		height: 80px;
		float: left;
	}

	nav li{
		float: right;
		margin: 25px 10px;
		padding: 5px;
		font-size: 20px;
	}

	nav a{
		float: none;
	}

	.topImage{
		background-image: none;
		height: 350px;
  		cursor: url('../img/hammer_cursor.png'), auto;

	}

	.tvImage{
		display: initial;
		height: 100%;
		width: 100%;
		border-radius: 15%;
	}

	.imageHolder{
		position:relative;
		width: 80%;
		height: 100%;
	}

	.tvText{
		font-family: 'Love Ya Like A Sister';
		display: initial;
		color: brown;
  		transition: .4s ease;
  		opacity: 0;
  		position: absolute;
  		top: 50%;
  		left: 50%;
  		transform: translate(-50%, -50%);
	}

	.powered-logo{
		height: 60px;
		width: 70px;
	}

	.logo{
		width: 50%;
		float: left;
	}

	.fa:hover{
  		filter: hue-rotate(180deg);
  		opacity: 0.8;
	}

	.imageHolder:hover .tvImage{
  		opacity: 0.2;
	}

	.imageHolder:hover .tvText{
  		opacity: 1;
  		font-size: 90px;
	}
}